<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ShooterDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ShooterSubDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SubDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ShooterDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ShooterSubDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="SubDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<applicationSettings>
		<ShooterDownloader.Properties.Settings>
			<setting name="QueryUrl" serializeAs="String">
				<value>http://svplayer.shooter.cn/api/subapi.php</value>
			</setting>
			<setting name="UserAgent" serializeAs="String">
				<value>SPlayer Build 580</value>
			</setting>
			<setting name="ContentType" serializeAs="String">
				<value>multipart/form-data; boundary=----------------------------767a02e50d82</value>
			</setting>
			<setting name="Boundary" serializeAs="String">
				<value>----------------------------767a02e50d82</value>
			</setting>
			<setting name="LogFileName" serializeAs="String">
				<value>SubDownloader</value>
			</setting>
			<setting name="ShellExtFileName" serializeAs="String">
				<value>ShooterExt.dll</value>
			</setting>
			<setting name="ShellExtFileNameX64" serializeAs="String">
				<value>ShooterExt_x64.dll</value>
			</setting>
			<setting name="ShellExtClsid" serializeAs="String">
				<value>{5258ACEF-6A10-4CDC-B5A5-B4B0D7EF23B2}</value>
			</setting>
		</ShooterDownloader.Properties.Settings>
		<ShooterSubDownloader.Properties.Settings>
			<setting name="QueryUrl" serializeAs="String">
				<value>http://svplayer.shooter.cn/api/subapi.php</value>
			</setting>
			<setting name="UserAgent" serializeAs="String">
				<value>SPlayer Build 580</value>
			</setting>
			<setting name="ContentType" serializeAs="String">
				<value>multipart/form-data; boundary=----------------------------767a02e50d82</value>
			</setting>
			<setting name="Boundary" serializeAs="String">
				<value>----------------------------767a02e50d82</value>
			</setting>
			<setting name="LogFileName" serializeAs="String">
				<value>SubDownloader</value>
			</setting>
		</ShooterSubDownloader.Properties.Settings>
		<SubDownloader.Properties.Settings>
			<setting name="QueryUrl" serializeAs="String">
				<value>http://svplayer.shooter.cn/api/subapi.php</value>
			</setting>
			<setting name="UserAgent" serializeAs="String">
				<value>SPlayer Build 580</value>
			</setting>
			<setting name="ContentType" serializeAs="String">
				<value>multipart/form-data; boundary=----------------------------767a02e50d82</value>
			</setting>
			<setting name="Boundary" serializeAs="String">
				<value>----------------------------767a02e50d82</value>
			</setting>
			<setting name="MaxConcurrentJobs" serializeAs="String">
				<value>3</value>
			</setting>
		</SubDownloader.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<ShooterDownloader.Properties.Settings>
			<setting name="AutoChsToChtConversion" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MaxConcurrentJobs" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="VideoFileExt" serializeAs="String">
				<value>.avi;.mov;.mpeg;.mpg;.mkv;.mp4;.ts;.wmv;.asf;.ogm</value>
			</setting>
			<setting name="EnableLog" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LastDir" serializeAs="String">
				<value/>
			</setting>
			<setting name="FirstRun" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="HttpTimeout" serializeAs="String">
				<value>30</value>
			</setting>
		</ShooterDownloader.Properties.Settings>
		<ShooterSubDownloader.Properties.Settings>
			<setting name="AutoChsToChtConversion" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MaxConcurrentJobs" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="VideoFileExt" serializeAs="String">
				<value>.avi;.mov;.mpeg;.mpg;.mkv;.mp4;.ts;.wmv;.asf;.ogm</value>
			</setting>
			<setting name="EnableLog" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LastDir" serializeAs="String">
				<value/>
			</setting>
		</ShooterSubDownloader.Properties.Settings>
		<SubDownloader.Properties.Settings>
			<setting name="AutoChsToChtConversion" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="VideoFileExt" serializeAs="String">
				<value>.avi;.mov;.mpeg;.mpg;.mkv;.mp4;.ts;.wmv;.asf;.ogm</value>
			</setting>
			<setting name="LogFileName" serializeAs="String">
				<value>SubDownloader</value>
			</setting>
			<setting name="EnableLog" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="LastDir" serializeAs="String">
				<value/>
			</setting>
		</SubDownloader.Properties.Settings>
	</userSettings>
</configuration>
